<launch>
    <node pkg="route" type="gpsimu_parser.py" name="gpsimu_parser" />
    <node pkg="route" type="tf_pub.py" name="tf"  />
    <node pkg="route" type="mgeo_pub.py" name="mgeo_pub"  />
    <node pkg="route" type="dijkstra_path.py" name="mgeo_dijkstra_path"  />
    <node pkg="route" type="local_path_pub.py" name="local_path_pub" />
    <node pkg="control" type="acc.py" name="ACC" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find route)/rviz/kcity_rviz.rviz" />
</launch>